.textAlign {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;


    .textAlignWrapper {
        display: grid;
        justify-content: center;
        width: 100%;
    }

    .buttons {
        width: inherit;
    }

    .left {
        display: flex;
        width: 100%;
        justify-content: left;
    }
    
    .middle {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .right {
        display: flex;
        width: 100%;
        justify-content: right;
    }

    
}

